# SYSTEM ALIAS
alias sv='brew services'
alias svl='brew services list'
alias svsta='brew services start'
alias svsto='brew services stop'
alias svr='brew services restart'
alias svs='brew search'
alias svi='brew install'
alias svic='brew install --cask'
alias svu='brew uninstall'
alias ping='/sbin/ping'
alias nsl='nslookup'

alias zshrl='source ~/.zshrc'
alias zshrc='vim ~/.zshrc'
alias aliasrc='vim ~/aliasrc/.aliases'
alias vimrc='vim ~/.vimrc'
alias rmf='rm -rf'
alias ex='exit'
alias cl='clear'
alias checkp='lsof -i'

# PYTHON
alias python='python3.11'
alias pie='pipenv'
alias pir='pipenv run python'
alias insr='pip install -r requirements.txt'

# DOCKER ALIAS
alias dc='docker'
alias dci='docker images'
alias dcpa='docker ps -a'
alias dcps='docker ps'
alias dcrm='docker rm'
alias dcrmi='docker rmi'
alias dcex='docker exec -it'
alias dco='docker-compose'
alias dcnw='docker network'
alias dcvl='docker volume'
alias dcsha='docker inspect --format "{{ .Image }}"'
alias dcrmni='docker rmi $(docker images --filter "dangling=true" -q --no-trunc)'
alias trans='docker run -it --rm soimort/translate-shell -shell'
alias itt='docker run --rm -d -p 8080:80 --name it-tools -it corentinth/it-tools'
alias ku='kubectl'
alias mku='minikube'

# Tools
alias aia='aws-iam-authenticator'
alias btc='better-commits'

# GIT ALIAS
alias ga='git add -u'
alias gcm='git commit -m'
alias gcmne='git commit --amend --no-edit'
alias gi='git init -y'
alias gs='git status'
alias gpul='git pull origin'
alias gpus='git push origin $(git_current_branch)'
alias gdi='git diff'
alias gcl='git clone'
alias gst='git stash'
alias gsts='git stash save -m'
alias gstpu='git stash push -m'
alias gstpo='git stash pop'
alias gstl='git stash list'
alias gcpx='git cherry-pick -x'
alias glnm='git log --no-merges'
alias glone='git log --oneline'
alias grbh='git rebase -i HEAD~'
alias grco='git rebase --continue'
alias grab='git rebase --abort'
alias rmenv='git filter-branch --force --index-filter "git rm -rf --cached --ignore-unmatch .env" HEAD && git push --force'

# Tricks
# https://topdev.vn/blog/10-van-de-ve-git-thuong-gap-va-giai-phap/

# YARN, NPM, PNPM
alias yi='yarn install'
alias ya='yarn add'
alias yr='yarn remove'
alias ys='yarn start'
alias yd='yarn dev'
alias yt='yarn test'
alias yaG='yarn global add'
alias yrG='yarn global remove'
alias yaD='yarn add -D'
alias yy='yarn -y'
alias ysd='yarn start:dev'

alias pn="pnpm"
alias pnr="pnpm run"
alias pna="pnpm add"
alias pnu="pnpm remove"
alias pne="pnpm exec"
alias pns="pnpm start"
alias pnd="pnpm dev"
alias pnb="pnpm build"
alias pnaD="pnpm add -D"
alias pnaG="pnpm add -g"
alias pnrG="pnpm remove -g"

alias psync='npm run dbm:run'
alias pgen='npm run dbm:generate'
alias prevert='npm run dbm:revert'

alias niG='sudo npm install -g'
alias nuG='sudo npm uninstall -g'

alias ngl='npm list -g --depth=0'
alias ygl='yarn global list'

alias pnr='pnpm run'
alias pni='pnpm install'
alias pnu='pnpm uninstall'
alias pns='pnpm start'
alias pnd='pnpm dev'
alias pnt='pnpm test'
alias pnaG='pnpm add -g'
alias pnrG='pnpm remove -g'

# Tools
alias inf='infisical'
alias infr='infisical run --'

# OPEN FILE
alias -s md=code
alias -s js=code
alias -s ejs=code
alias -s ts=code
alias -s yaml=code

# GLOBAL
alias -g G="| grep"
alias -g L="| less"

# OTHER
alias dev='cd /var/www/html/coding'
alias trx='cd /var/www/html/coding/TRIXGO'
alias per='cd /var/www/html/coding/PERSONAL'
alias pubip='curl -4 icanhazip.com'

alias h='history'
alias px='ps auxf | grep'
alias mrs='run-rs --portStart 27000 -v 5.0 --mongod /usr/local/Cellar/mongodb-community@4.4/4.4.10/bin/mongod'
alias mongocf='vim /usr/local/etc/mongod.conf'

mkcd(){
    mkdir "$1"
    cd "$1"
}

mkf() {
for var in "$@"
do
    mkdir -p $( dirname "$var") && touch "$var"
done
}

dcleanup() {
    docker rm -v $(docker ps --filter status=exited -q 2>/dev/null) 2>/dev/null
    docker rmi $(docker images --filter dangling=true -q 2>/dev/null) 2>/dev/null
}

dcsar() {
  docker stop $1 && docker rm $1
}

dccfull() {
  docker stop $1 && docker rm $1 && docker rmi $1
}

gacp() {
    curr_branch=$(git symbolic-ref --short -q HEAD)
    git add .
    git commit -m $1
    git pull origin $curr_branch
    git push origin $curr_branch
}

fwatch() {
  fswatch -o $1 | xargs -n1 -I{} . $2
}

kulog() {
  ku exec -it pod/$1 -n trixgo-prod -- pm2 logs 0
}

gencer() {
  openssl req -x509 -newkey rsa:4096 -keyout $1/key.pem -out $1/cert.pem -nodes -days 365
}

sitespeed() {
  docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:26.1.0 $1
}

pyvenv() {
  python -m venv $1
  source $1/bin/activate
}

psqlc() {
  psql -h localhost -p $1 -d $2 -U $3 -W
}
